<ion-header>
  <ion-navbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons end style="margin-top: 10px;">
      <button ion-button icon-only (click)='logout()'><ion-icon ios="ios-exit" md="md-exit"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="fotoPerfil">
    <ion-thumbnail item-start>
      <img src="{{ facebook.fotoUrl }}">
    </ion-thumbnail>
    <h2>{{ facebook.nome }}</h2>
    <p>{{ email }}</p>    
  </ion-item>
  
  <ion-item *ngIf="!fotoPerfil">
    <ion-thumbnail item-start>
      <img src="assets/imgs/perfil.jpg">
    </ion-thumbnail>
    <h2>Nutri</h2>
    <p>{{ email }}</p>    
  </ion-item>

</ion-content>
