<ion-header>
  <ion-navbar color="primary">
    <ion-title style="margin-top: 12px;">Postagem</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="post">
    <div>
      <img class="imgTopo" [src]="post.better_featured_image.source_url" alt="imagem">
    </div>
    <div class="title" [innerHTML]="post.title.rendered"></div>
    <p class="conteudo" [innerHTML]="post.content.rendered"></p>

    <ion-row>    
      <ion-col>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
        {{post.date.split('T')[0] | date: 'd / MM / y'}}
      </ion-col>
      <ion-col>
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
        {{user}}
      </ion-col>
    </ion-row>
    <p class="bold-title">Categoria:</p>
    <ion-grid>
      <ion-row>
        <ion-col class="categoria-col" *ngFor= "let categoria of categorias">
          <ion-badge>{{categoria.name}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
